body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 100px;
    /* background-color: black; */
}

.row_poster {
    width: 100%;
    /* object-fit: contain; */
    max-height: 100px;
    /* margin-right: 10px; */
    transition: transform 450ms;
    display: flex;
}

.row_poster:hover {
    transform: scale(1.08);
}

.row_poster::-webkit-scrollbar {
    display: none;
}

#trendingNow {
    /*richiamo al keyframes*/
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    /*serve per terminare l'animazione una volta eseguita*/
    opacity: 0;
}

#watchItAgain {
    /*richiamo al keyframes*/
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    opacity: 0;
}

#newRelases {
    /*richiamo al keyframes*/
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-timing-function: ease;
    animation-iteration-count:1;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes fadeIn {
    /*la funzione è unica per i tre sliders*/
    0% {opacity: 0;}
    100% {opacity: 1;}
}
